{% comment %}Put all JS here.{% endcomment %}

<script type="text/javascript" src="{{site.baseurl}}/js/prettify.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/lang-dart.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/lang-yaml.js"></script>
<script>
    // https://gist.github.com/nilliams/7138983
    [].forEach.call(document.getElementsByTagName("pre"), function(el) {
        el.classList.add("prettyprint");
    });

    prettyPrint();
</script>

{% comment %}Non-critical CSS. Put critical CSS in head, all other here.{% endcomment %}

<link rel="stylesheet" href="{{site.baseurl}}/css/prettify.css">

{% if page.header and page.header.css %}{% for css in page.header.css %}<link href="{{ css }}" rel="stylesheet" type="text/css">{% endfor %}{% endif %}

{% for js in page.js %}
<script {% if js.defer %}defer{% endif %} src="{{ js.url }}"></script>
{% endfor %}

</body>
</html>