{% comment %}Put all JS here.{% endcomment %}

<script type="text/javascript" src="{{site.baseurl}}/js/prettify.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/lang-dart.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/lang-yaml.js"></script>
<script>
    // https://gist.github.com/nilliams/7138983
    [].forEach.call(document.getElementsByTagName("pre"), function(el) {
        el.classList.add("prettyprint");
    });

    prettyPrint();
</script>

{% comment %}Non-critical CSS. Put critical CSS in head, all other here.{% endcomment %}

<link rel="stylesheet" href="{{site.baseurl}}/css/prettify.css">

{% if page.header and page.header.css %}{% for css in page.header.css %}<link href="{{ css }}" rel="stylesheet" type="text/css">{% endfor %}{% endif %}

{% for js in page.js %}
<script {% if js.defer %}defer{% endif %} src="{{ js.url }}"></script>
{% endfor %}

<a class="hidden-xs" href="https://github.com/dartlangfr/dart-up-and-running"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

</body>
</html>